* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(112, 109, 109);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-heder {
  text-align: center;
  color: #807d7d;
  background-color: #2b2b2b;
  height: 95vh;
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
}
.dropdown {
  position: absolute;
  list-style-type: none;
  text-align: left;
  top: 2em;
  left: 1em;
}
.dropdown img {
  width: 2em;
}
.dropdown ul li {
  display: none;
  list-style-type: none;
  font-size: 1.3em;
}
.dropdown:hover li {
  display: block;
}
.dropdown li:hover a {
  color: #868686;
}

.dropdown a {
  color: rgb(112, 109, 109);
  text-decoration: none;
}
.main-text {
  position: absolute;
  bottom: 50%;
}

.main-heder h1 {
  font-size: 6em;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 60%;
  padding: 30px;
}

.icons img {
  width: 6em;
  /* margin: 5em; */
  transition: 0.3s;
}
a {
  padding: 0 !important;
}

.icons img:hover {
  transform: scale(1.1);
}

/* about me page */

.about-me-container {
  display: flex;
  padding: 5em 10%;
}
.about-me-img img {
  width: 80%;
}
.about-me-text {
  color: #2b2b2b;
  position: relative;
  top: 2em;
}
.about-me-text h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}

.about-me-text p {
  font-size: 1.2em;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  padding: 5%;
}

.projects-header {
  text-align: center;
  font-size: 4em;
  color: #2b2b2b;
}

.projects img {
  margin-bottom: 1.5em;
  width: 85%;
  height: auto;
  padding-bottom: 2em;
}

footer {
  text-align: center;
  font-size: 1.3em;
  color: #807d7d;
  background-color: #2b2b2b;
  padding: 3em;
}

/* @media (max-width: 800px) {
  .main-heder {
    height: 55vh;
  }
  .main-heder h1 {
    font-size: 3em;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }

  .icons img {
    width: 4em;
    margin: 3em;
  }
  a {
    padding: 0 !important;
  }

  .icons img:hover {
    transform: scale(1.1);
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .projects img {
    margin-bottom: 1.5em;
  }

  .projects-header {
    text-align: center;
    font-size: 2em;
    padding: 2em;
  }
} */

@media (max-width: 500px) {
  .main-heder {
    height: 60vh;
  }
  .main-heder h1 {
    font-size: 2em;
  }

  .icons img {
    width: 4em;
    /* margin: 3em; */
  }
  a {
    padding: 0 !important;
  }

  .icons img:hover {
    transform: scale(1.1);
  }
  .about-me-container {
    width: 50%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
  }

  .projects img {
    padding: 0;
  }

  .projects-header {
    text-align: center;
    font-size: 1.7em;
    padding: 2em;
  }
}
